Source: native
Section: cores
Priority: optional
XBSC-Family: native
Maintainer: Matt Jenkins <matt@debian.majenko.co.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: 

Package: native-core
Architecture: all
Section: cores
Depends: native-compiler
Description: Native core for Linux boards
 Program boards such as the BeagleBone Black and Raspberry Pi
 like an Arduino.

Package: native-compiler
Architecture: all
Section: compilers
Description: Native Compiler
 The computer's natively installed GCC compiler.

Package: 4d-armadillo-43t
Architecture: all
Depends: native-core
Section: boards
XBSC-Group: 4D Systems
Description: Armadillo-43T
 The Armadillo-43T can be thought of as a Raspberry Pi with
 a built in 4.3" TFT screen.

Package: 4d-armadillo-70t
Architecture: all
Depends: native-core
Section: boards
XBSC-Group: 4D Systems
Description: Armadillo-70T
 The Armadillo-70T can be thought of as a Raspberry Pi with
 a built in 7" TFT screen.

Package: raspberry-pi2
Architecture: all
Depends: native-core
Section: boards
XBSC-Group: Raspberry
Description: Raspberry Pi 2
 The new, quad-core Raspberry Pi

Package: linux-basic
Architecture: all
Depends: native-core
Section: boards
XBSC-Group: Linux
Description: Basic Linux Computer
 Create programs for any Basic Linux computer.
